body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(135, 135, 135);
  line-height: 29px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  margin: o;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.float-left-sun {
  margin-right: 10px;
  margin-bottom: 35px;
  /* line-height: 1;
  font-weight: 400; */
}
.maim-temp {
  color: rgb(33, 33, 35);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.cf-temperature {
  position: relative;
  top: -32px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #000;
}
.weather-forecast-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
